<header class="showcase">
    <div class="showcase-top">
        <img src="../assets/img/logo.png" alt="" />
        <button (click)="descubre()" class="btn2 btn-link" id="btn1">Descubre Cinemania</button>
        <button (click)="login()" class="btn btn-rounded" id="btn2">Iniciar sesión</button>
    </div>
    <div class="showcase-content">
        <h1>Bienvenido a Cinemania</h1>
        <p>Disfruta donde quieras. Cancela cuando quieras.</p>
        <button (click)="registro()" class="btn btn-xl">Comienza tu periodo de prueba gratis <fa-icon [icon]="faAngleRight" class="fa-lg"></fa-icon></button>
    </div>
</header>

<section class="tab-content">
    <div class="container">
        <div id="tab-1-content row pb-5" class="tab-content-item container">
            <div class="justify-content-center row">
                <div class="justify-content-center align-items-center col-md-6">
                    <h4 class="text-center pt-5 mt-5">
                        Si decides que Cinemania no es para ti, no hay problema. Sin compromiso. Cancele en línea en cualquier momento.
                    </h4>
                </div>
                <div class="justify-content-center col-md-6">
                    <img src="https://i.ibb.co/J2xDJV7/tab-content-1.png" alt="" class="img-fluid pb-5" style="width: 480px; height: 350px;" />
                </div>
            </div>

        </div>

        <div id="tab-2-content row pt-5" class="tab-content-item container">
            <div class="tab-2-content-bottom row">
                <div class="col-md-4 pr-5">
                    <img src="https://i.ibb.co/DpdN7Gn/tab-content-2-1.png" alt="" />
                    <p class="text-md">
                        Míralo en tu TV.
                    </p>
                    <p class="text-dark">
                        Ve en smart TV, PlayStation, Xbox, Chromecast, Apple TV, reproductores de Blu-ray y más.
                    </p>
                </div>
                <div class="col-md-4 pr-5">
                    <img src="https://i.ibb.co/R3r1SPX/tab-content-2-2.png" alt="" />
                    <p class="text-md">
                        Guarda tu contenido favorito y ten siempre algo para ver.
                    </p>
                    <p class="text-dark">
                        Películas y series ilimitadas en tu teléfono, tablet, computadora y TV sin costo extra.
                    </p>
                </div>
                <div class="col-md-4 pr-5">
                    <img src="https://i.ibb.co/gDhnwWn/tab-content-2-3.png" alt="" />
                    <p class="text-md">
                        Desde cualquier computadora
                    </p>
                    <p class="text-dark">
                        Accede a Cinemania.com.
                    </p>
                </div>
            </div>
        </div>

        <div id="tab-3-content row pt-5" class="tab-content-item">
            <div class="text-center">
                <p class="text-lg">
                    Elije tu plan y comienza a ver películas
                </p>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Básico</th>
                        <th>Estándar</th>
                        <th>Premium</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Precio por mes</td>
                        <td>50.00 Bs.</td>
                        <td>90.00 Bs.</td>
                        <td>110.00 Bs.</td>
                    </tr>
                    <tr>
                        <td>HD Disponible</td>
                        <td>
                            <fa-icon [icon]="faTimes"></fa-icon>
                        </td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                    </tr>
                    <tr>
                        <td>Ultra HD Disponible</td>
                        <td>
                            <fa-icon [icon]="faTimes"></fa-icon>
                        </td>
                        <td>
                            <fa-icon [icon]="faTimes"></fa-icon>
                        </td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                    </tr>
                    <tr>
                        <td>Pantallas que puede ver al mismo tiempo.</td>
                        <td>1</td>
                        <td>2</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Míralo en tu computadora portátil, TV, teléfono y tableta</td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                    </tr>
                    <tr>
                        <td>Películas y programas de televisión ilimitados</td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                    </tr>
                    <tr>
                        <td>Cancelar en cualquier momento</td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                    </tr>
                    <tr>
                        <td>Primer mes gratis</td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<footer class="footer">
    <p>¿Preguntas? Llama al +1 (408) 329-9558 (USA)</p>
    <div class="footer-cols">
        <ul>
            <li><a href="#">Preguntas frecuentes</a></li>
            <li><a href="#">Centro de ayuda</a></li>
            <li><a href="#">Formas de ver</a></li>
            <li><a href="#">Información corporativa</a></li>
        </ul>
        <ul>
            <li><a href="#">Preferencias de cookies</a></li>
            <li><a href="#">Privacidad</a></li>
            <li><a href="#">Términos de uso</a></li>
            <li><a href="#">Contactos</a></li>
        </ul>
    </div>
</footer>