<div class="showcase">
    <div class="showcase-top">
        <img src="../assets/img/logo.png" alt="" />
    </div>


    <div class="row" id="formulario">
        <div class="col-md-4 mx-auto mt-5">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center p-3">Registro</h2>
                </div>
                <div class="card-body p-2">
                    <form [formGroup]="formRegistro" (ngSubmit)="registrar()">

                        <div class="form-group form-row">
                            <h4 class="mt-2 mb-0">Datos del usuario: </h4>
                            <div class="col-md-12">
                                <label for="email">Correo Electrónico</label>
                                <input type="email" id="email" name="email" class="form-control" formControlName="email">
                            </div>
                        </div>

                        <div class="form-group form-row mt-2">
                            <div class="col-md-12">
                                <label for="pass">Contraseña</label>
                                <input type="password" id="pass" name="pass" class="form-control" formControlName="pass">
                            </div>
                        </div>

                        <div class="form-row owner">
                            <h4 class="mt-2 mb-0">Configura tu tarjeta de crédito o débito.</h4>
                            <div class="col-md-6">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" id="nombre" formControlName="nombre">
                            </div>
                            <div class="col-md-6">
                                <label for="ap">Apellido</label>
                                <input type="text" class="form-control" id="ap" formControlName="ap">
                            </div>

                        </div>
                        <div class="form-row" id="card-number-field">
                            <div class="col-md-8">
                                <label for="numero">Número de tarjeta</label>
                                <input type="text" class="form-control" id="numero" formControlName="numero">
                            </div>
                            <div class="col-md-4">
                                <label for="cvv">CVV</label>
                                <input type="text" class="form-control" id="cvv" formControlName="cvv">
                            </div>
                        </div>

                        <div class="form-row mt-2" id="expiration-date">
                            <div class="col-md-5">
                                <label>Fecha de expiración</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" formControlName="mes">
                                    <option value="01">Enero</option>
                                    <option value="02">Febrero </option>
                                    <option value="03">Marzo</option>
                                    <option value="04">Abril</option>
                                    <option value="05">Mayo</option>
                                    <option value="06">Junio</option>
                                    <option value="07">Julio</option>
                                    <option value="08">Augosto</option>
                                    <option value="09">Septiembre</option>
                                    <option value="10">Octubre</option>
                                    <option value="11">Noviembre</option>
                                    <option value="12">Diciembre</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" formControlName="an">
                                    <option value="20"> 2020</option>
                                    <option value="21"> 2021</option>
                                    <option value="22"> 2022</option>
                                    <option value="23"> 2023</option>
                                    <option value="24"> 2024</option>
                                    <option value="25"> 2025</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <h4 class="mt-2 mb-0">Selecciona tu plan inicial: </h4>
                            <div class="col-md-12 mt-2">
                                <select class="form-control" formControlName="plan">
                                    <option value="1" selected>Básico</option>
                                    <option value="2">Estándar</option>
                                    <option value="3">Premium</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 p-2" id="reg" name="reg">Registrarse</button>
                    </form>
                </div>
                <div class="card-footer text-muted mt-1">
                    <h5 class="text-center p-3">¿Ya tienes una cuenta? <a class="p-2" [routerLink]="['/iniciar']">Inicia sesión</a>
                    </h5>
                </div>
            </div>
        </div>


    </div>



</div>



<footer class="footer">
    <p>¿Preguntas? Llama al +1 (408) 329-9558 (USA)</p>
    <div class="footer-cols">
        <ul>
            <li><a href="#">Preguntas frecuentes</a></li>
            <li><a href="#">Centro de ayuda</a></li>
            <li><a href="#">Formas de ver</a></li>
            <li><a href="#">Información corporativa</a></li>
        </ul>
        <ul>
            <li><a href="#">Preferencias de cookies</a></li>
            <li><a href="#">Privacidad</a></li>
            <li><a href="#">Términos de uso</a></li>
            <li><a href="#">Contactos</a></li>
        </ul>
    </div>
</footer>