<div class="showcase">
    <div class="showcase-top">
        <img src="../assets/img/logo.png" alt="" />
    </div>


    <div class="row" id="formulario">
        <div class="col-3 mx-auto mt-5">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center p-3">Iniciar Sesión
                        <fa-icon [icon]="faUserLock" class="fa-x1"></fa-icon>
                    </h2>
                </div>
                <div class="card-body p-2">
                    <form [formGroup]="formIniciar" (ngSubmit)="ingresar()">
                        <div class="form-group">
                            <label for="email">Correo Electrónico</label>
                            <input type="email" placeholder="user@example.com" id="email" name="email" class="form-control" formControlName="email">
                        </div>

                        <div class="form-group mt-2">
                            <label for="pass">Contraseña</label>
                            <input type="password" placeholder="******" id="pass" name="pass" class="form-control" formControlName="pass">
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 p-2" id="iniciar" name="iniciar">Ingresar</button>
                    </form>
                </div>
                <div class="card-footer text-muted mt-1">
                    <h5 class="text-center p-3">¿Aún no tienes cuenta? <a [routerLink]="['/registro']" class="p-2">Regístrate</a></h5>
                </div>
            </div>
        </div>


    </div>



</div>



<footer class="footer">
    <p>¿Preguntas? Llama al +1 (408) 329-9558 (USA)</p>
    <div class="footer-cols">
        <ul>
            <li><a href="#">Preguntas frecuentes</a></li>
            <li><a href="#">Centro de ayuda</a></li>
            <li><a href="#">Formas de ver</a></li>
            <li><a href="#">Información corporativa</a></li>
        </ul>
        <ul>
            <li><a href="#">Preferencias de cookies</a></li>
            <li><a href="#">Privacidad</a></li>
            <li><a href="#">Términos de uso</a></li>
            <li><a href="#">Contactos</a></li>
        </ul>
    </div>
</footer>